<div class="container">
  <app-author></app-author>

  <br />
  <br />
  <h3>Exercise: Favorite component</h3>
  <app-favorite
    [isFavorite]="post.isFavorite"
    (change)="onFavoriteChanged($event)"
  ></app-favorite>

  <br />
  <br />
  <h3>Exercise: Title Casing</h3>
  <app-title-casing-exercise></app-title-casing-exercise>

  <br />
  <br />
  <h3>Exercise: Like Component</h3>
  <app-like-exercise
    [isActive]="tweet.isActive"
    [likeCount]="tweet.likesCount"
  ></app-like-exercise>
</div>

<!-- <div *ngIf="test.length > 0; else testElse"></div>
<ng-template #testIf> TEST IF </ng-template>
<ng-template #testElse> TEST ELSE </ng-template> -->

<!--
  NOTE: if you use a directive inside a div, it will not render the div tag.
  NOTE: is it better to use ng-container instead?
  NOTE: ng-template should be outside the *ngIf block
-->

<!-- BETTER WAY? -->
<ng-container
  *ngIf="test.length < 0; then testIf; else testElse"
></ng-container>

<ng-template #testIf> tesstIf </ng-template>
<ng-template #testElse> tesstElse </ng-template>

<app-posts></app-posts>
