<div class="container">
  <app-author></app-author>

  <hr />
  <br />
  <br />
  <h3>Exercise: Favorite component</h3>
  <app-favorite
    [isFavorite]="post.isFavorite"
    (change)="onFavoriteChanged($event)"
  ></app-favorite>

  <hr />
  <br />
  <br />
  <h3>Exercise: Title Casing</h3>
  <app-title-casing-exercise></app-title-casing-exercise>

  <hr />
  <br />
  <br />
  <h3>Exercise: Like Component</h3>
  <app-like-exercise
    [isActive]="tweet.isActive"
    [likeCount]="tweet.likesCount"
  ></app-like-exercise>

  <hr />
  <br />
  <br />

  <ng-container
    *ngIf="test.length > 0; then testIf; else testElse"
  ></ng-container>
  <ng-template #testIf> TEST IF </ng-template>
  <ng-template #testElse> TEST ELSE </ng-template>
  <hr />
  <br />
  <br />

  <!-- <app-posts></app-posts> -->

  <h3>Router Outlet</h3>
  <navbar></navbar>
  <router-outlet></router-outlet>
</div>
